<script id="home_page_templates" type="text/html">
    <div data-bind='with:HomePage.plugins'>
        <div data-bind='foreach:$data'>
            <!-- ko template:{name:$data.id+"-home-page"} --><!-- /ko -->
        </div>
    </div>
</script>