.mdl-grid.actions-toolbar,
.mdl-grid.actions-toolbar .input-field,
.mdl-grid.actions-toolbar .row {
    padding: 0px;
    margin: 0px;
}

.aqua-button button {
    background: transparent;
    outline: none;
    border: transparent;
}

.aqua-button {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: initial;
}

.aqua-button:after,
.aqua-button:before {
    position: absolute;
    z-index: 0;
    display: block;
    left: 0;
    right: 0;
    height: 16px;
    border-left: 1px solid;
    border-right: 1px solid;
    content: "";
    border-color: #231f20;
}

.aqua-button:before {
    top: 0;
    border-top: 1px solid;
}

.aqua-button:after {
    bottom: 0;
    border-bottom: 1px solid;
}

.aqua-button__bg,
.aqua-button__bg-opacity {
    -webkit-transition: opacity .3s ease-in-out .2s;
    -o-transition: opacity .3s ease-in-out .2s;
    transition: opacity .3s ease-in-out .2s;
}

.aqua-button__bg {
    position: absolute;
    top: 0;
    left: -10px;
    right: 0;
    bottom: -8px;
    opacity: .4;
}

.aqua-button:hover .aqua-button__bg {
    opacity: .6;
}

.aqua-button__title {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 14px; 
    cursor: pointer;
    padding: 3px 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    color: #231f20;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.aqua-button__bg.primary {
    background: url(/images/button/button_1.png) left 5px no-repeat;
    background-size: 100% 100%;
}

.aqua-button__bg.success {
    background: url(/images/button/button_3.png) left 5px no-repeat;
    background-size: 100% 100%;
}

.aqua-button__bg.error {
    background: url(/images/button/button_4.png) left 5px no-repeat;
    background-size: 100% 100%;
}

.login-bg {
    background: url(/images/bg.png) left 5px no-repeat;
    background-position: 80px -75px;
    background-size: 35%;
}


h1,
h2,
h3,
h4,
h5,
h6,
.breadcrumb a {
    font-family: AngleciaProTitle-Bold, sans-serif;
}


.aqua-button.light:after,
.aqua-button.light:before,
aqua-button.light {
    border-color: #CFCFCF;
}

.aqua-button.light .aqua-button__title {
    color: gray;
}
.comma-list>span+span:before {
    padding-left: 0px;
    padding-right: 0.5em;
    color: gray;
    content: ",";
}
label.switch{
    pointer-events: initial;
}



.blur-block{
    text-align: center;
    padding: 35px;
    position: relative;
    z-index: 10;
    font-family: Geometria;
    font-size: 16px;
    color: #000;
    line-height: 24px;
    max-width: 35.2rem;
    margin-bottom: 30px;
}

.blur-block:after {
    content: "";
    z-index: 0;
    opacity: .25;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(226deg,#88d0f3 0,#ef92c1 100%);
    background: linear-gradient(224deg,#88d0f3,#ef92c1);
}
table.editable-cells tr td{
    cursor: pointer;
}
