.card-title a.right{
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 15px;
}
.modal-footer-buttons{
	padding-left: 50px;
	padding-right: 50px;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
ul.collection.inline-form{
    height: 80%;
    background: white;
}

.short-day-select .select-wrapper{
	position: relative;
    max-width: 100px;
    display: inline-block;
}
.short-day-select .select-dropdown.dropdown-trigger{
    max-width: 50px;
 
}
.short-day-select{
	padding-right: 50px;
}
.short-day-select .dropdown-content li>a, .dropdown-content li>span{
    padding: 5px;
    margin: 0px;
    max-height: initial;
    height: initial;
    min-height: initial;
    font-size: 15px;
}
.short-day-select .dropdown-content li>a, .dropdown-content li{
    padding: 0px;
    margin: 0px;
    max-height: initial;
    min-height: initial;
    height: initial;
    font-size: 15px;
}
.short-day-select input{
	max-width: 50px;
}
.modal.modal-small-50-75 { width: 50%  ; height: 75%  ; }


.inline-form.collection .collection-item{
	padding: 0px 10px;
}
li div.li-action-icon{
	margin:10px;
}
div.modal-title {
    font-size: 1.4em;
    margin-left: 30px;
    font-weight: 400;
    line-height: 3em;
}

@media (max-width: 1180px){
  .modal.modal-small-50-75 {
      width: 90%  ; height: 90%  ; 
  }
}

.modal-footer .aqua-button{
	margin-top: 8px;
}