<script type="text/html" id="form_day">
    <span class='short-day-select' data-bind='css:$data'>
			<select data-bind='
			    	value:$parent[$data],
			    	options:_.map(WorkLog.weekDays,function(v,i){
			    		return {id:i+"",text:v};
			    	}),
			    	optionsText:"text",
			    	optionsValue:"id",
			    	mdl-select:$parent[$data]
			    '>
	        </select>
    	</span>
</script>

<script id="worklog_profile_block" type="text/html">
    <div class="card horizontal z-depth-0 profile-card transparent small-padding-card">
        <div class="card-stacked">
            <div class="card-title">
                График работы
                <a class="waves-effect right waves-light modal-trigger mdl-button mdl-js-button mdl-button--icon" href='#edit_worklog_modal' data-bind='click:WorkLog.openModal'><i class="material-icons ">more_vert</i></a>
            </div>
            <div class="card-content">
                <ul class="collection">
                    <!-- ko if:_.isEmpty(WorkLog.WorkLogs()) -->
                    <li class="collection-item">Данные не заполнены</li>
                    <!-- /ko -->
                    <!-- ko ifnot:_.isEmpty(WorkLog.WorkLogs()) -->
                    <!-- ko foreach:WorkLog.WorkLogs() -->
                    <li class="collection-item row">
                        <div class="col s6">
                            <!-- ko if:_.isEqual($data.DayStart(),$data.DayEnd()) -->
                            <span data-bind='text:WorkLog.weekDays[$data.DayStart()]'></span>
                            <!-- /ko -->
                            <!-- ko ifnot:_.isEqual($data.DayStart(),$data.DayEnd()) -->
                            <span data-bind='text:WorkLog.weekDays[$data.DayStart()]'></span> - <span data-bind='text:WorkLog.weekDays[$data.DayEnd()]'></span>
                            <!-- /ko -->
                        </div>
                        <div class="col s6">
                            <span data-bind='text:$data.TimeStart'></span> - <span data-bind='text:$data.TimeEnd'></span>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</script>

<div class="modal modal-fixed-footer modal-small-50-75" id="edit_worklog_modal" data-bind='modalBinding:{onCloseStart:WorkLog.load}'>
	<div class="modal-title">Редактирование
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content">
        <ul class="collection inline-form" height="100%">
            <!-- ko ifnot:_.isEmpty(WorkLog.WorkLogs()) -->
            <!-- ko foreach:WorkLog.WorkLogs() -->
            <li class="collection-item inline-form-row row">
                <div class='col s1 li-action-icon'>
                    <a class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:WorkLog.removeWorkLog' href=''><i class="material-icons">remove</i></a>
                </div>
                <div class=" col s4">
                    <!-- ko foreach:["DayStart","DayEnd"] -->
                    <!-- ko template:$parent.template($data) -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class=" col s4">
                    <!-- ko foreach:["TimeStart","TimeEnd"] -->
                    <!-- ko template:$parent.template($data) -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </li>
            <!-- /ko -->
            <!-- /ko -->
            <li class="collection-item inline-form-row row">
                <div class='col s1 li-action-icon'>
					<a  class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:WorkLog.addWorkLog'  href=''> <i class="material-icons">add</i></a>
				</span>
            </li>
        </ul>
    </div>
    <div class="modal-footer mdl-grid">
        <div class="mdl-layout-spacer">
        </div>
        <div class="mdl-cell--3-col text-left mdl-cell--2-col-phone">
            <!-- ko template:{name:'aqua-button',data:{text:'Save',click:WorkLog.saveWorkLogs,type:'success'}} -->
            <!-- /ko -->
        </div>
    </div>
</div>