.mdl-data-table{
	white-space: normal;
}

.mdl-data-table.dataTable td{
	line-height: 20px;
}
    
tr.choosed {
    background-color: #F1F2E6;
}
.card.card-form .input-field{
	margin-top:.5em;
	margin-bottom:.5em;
}
.card.card-form .row{
	margin-bottom: 0px;
}
.card.card-form{
	padding: 0px;
	margin: 0px;
}
.mdl-grid.actions-toolbar{
	margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.mdl-grid.actions-toolbar .action-buttons{
	width: 100%;
	text-align: right;
}
a.action-link{
	float: right;
    cursor: pointer;
}

div.red-error{
	color:red;
	font-weight: bold;
}
td.invalid{
	background: #ffe1e1;
}

div.sortable-list{
	height: 100%;
	min-height: 200px;
	background: #FAFAFA;
}
.row .col.sortable-list{
	min-height: 200px;
}
.worktemplate-item.choosed-item{
    border: 2px solid #333;	
    padding: 4px;
}
.worktemplate-item{
	border:1px dashed gray;
	padding: 5px;
	margin:5px;
	cursor: move;
	user-select: none;
}
.column-title{
	text-align: center;
}

.modal.modal-fixed-footer.modal-small-50-75.open{
	overflow: hidden;
}
.dismiss-modal.modal-close.right.mdl-button.mdl-js-button.mdl-button--icon{
	margin-top: 21px;
}