<script id="form_workshifts_list_edit" type="text/html">
    <div class="row">
        <!-- ko ifnot:_.isEmpty($data.model()[$data.field]()) -->
            <table class="responsive-table striped bordered-white editable-cells">
                <thead>
                    <tr>
                        <td width="40%">Смена</td>
                        <td width="30%">Мин. кол-во</td>
                        <td width="30%">Макс. кол-во</td>
                    </tr>
                </thead>
                <tbody data-bind='foreach:$data.model()[$data.field]()'>
                    <tr>
                        <td data-bind='textWorkshiftReadable:$data.WorkShiftReadable'></td>
                        <td data-bind='text:$data.MinCount'></td>
                        <td data-bind='text:$data.MaxCount'></td>
                    </tr>
                </tbody>
            </table>        
        <!-- /ko -->
        <a class='action-link' data-bind='click:WorkTemplate.editWorkShifts.bind(null,$data.model,$data.field)'>Настроить смены</a>
    </div>

</script>


<div class="modal modal-fixed-footer modal-small-50-75" id="edit_worktemplate_workshifts" data-bind='modalBinding:{onCloseStart:WorkTemplate.onClosePopup}'>
    <div class="modal-title" >
        Настройка смен
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:WorkTemplate.workShiftsList'>
            <div class="col s12 full-width-row">
                <table class="responsive-table striped bordered-white editable-cells">
                    <thead>
                        <tr>
                            <th width="60%">Смена</th>
                            <th width="20%">Мин. кол-во</th>
                            <th width="20%">Макс. кол-во</th>
                        </tr>
                    </thead>
                    <tbody >
                        <!-- ko foreach:$data -->
                        <tr>
                            <td data-bind='textWorkshiftReadable:$data.WorkShiftReadable'></td>
                            <td data-bind='css:{invalid:WorkTemplate.invalidIds.indexOf($data.WorkShiftId())!=-1}'>
                                <input type="text" autocomplete="off" data-bind="value:$data.MinCount" />
                            </td>
                            <td data-bind='css:{invalid:WorkTemplate.invalidIds.indexOf($data.WorkShiftId())!=-1}'>
                                <input type="text" autocomplete="off" data-bind="value:$data.MaxCount" />
                            </td>
                        </tr>
                        <!-- /ko -->
                        <tr>
                            <td></td>
                            <td>
                               <!-- ko with:WorkTemplate.validateMin --> 
                                    <div class='red-error' data-bind='text:$data'></div>
                               <!-- /ko -->
                            </td>
                            <td>
                               <!-- ko with:WorkTemplate.validateMax --> 
                                    <div class='red-error' data-bind='text:$data'></div>
                               <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>               
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Apply',click:WorkTemplate.applyWorkShiftsList,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
