<script type="text/html" id="form_time">
	<span class='short-day-select' data-bind='css:$data' >
		<input type="text" autocomplete="off" data-bind="value:$parent[$data],valueUpdate:'afterkeydown',time_mask:'Hh:Mm'"></input>
	</span>
</script>


