.card.top-menu-card{
	padding:0px;
	margin:0px;
	cursor: pointer;
}
.card.top-menu-card .card-content{
 	padding:0px;
}
.card.top-menu-card .card-title{
	font-size: 14px;
	letter-spacing: -.05em;
    font-weight: 300;
}
.card.top-menu-card .card-text{
	font-size: 12px;
    font-weight: 300;
}
.mdl-cell-avatar img{
    margin-top: 2px;
    margin-bottom: 2px;
}
.card.top-menu-card .card-content .card-title{
    line-height: 13px;
    margin-top: 8px;
}

.card.profile-card .card-content{
	font-size: 16px;
    font-weight: 300;    
}

.card.profile-card .card-title{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}



.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
    display: block;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
    display: block;
}

.card.small-padding-card .card-content {
    border-radius: 0 0 2px 2px;
    padding: 0px;
}
