<div class="screen" data-bind='page:{id:"start"}' >


 <div class="mdl-grid">
        <div class="mdl-cell  mdl-cell--6-col " data-bind='with:MSite.Me'>
		    <div class="card horizontal z-depth-0 profile-card transparent">
		      <div class="card-image" style="padding: 20px;">
		        	<span class="avatar circle responsive-img" data-bind="letterAvatar:{img:$data.UserPhoto,name:$data.NameUser,size:100}"></span>
		      </div>
		      <div class="card-stacked">
		        <div class="card-title">
		        	<p  data-bind='text:$data.NameUser'></p>
		        </div>
		        <div class="card-content">
		        	<span class="card-text truncate comma-list" data-bind="foreach:$data.Roles()">
	  					<span data-bind="lang:$data"></span>
                    </span>
		        </div>
		      </div>
		    </div>
		    <!-- ko template:'worklog_profile_block' --><!-- /ko -->
		</div>
		<div class="mdl-layout-spacer"></div>
		<div class="mdl-cell  mdl-cell--5-col">
		</div>
</div>


	




</div>
