<script id="circle-left-menu-block" type="text/html">
	<li class="sidemenu__categories-item sidemenu__category" data-bind='with:Department.choosedDepartmentId'>
        <h2 class="sidemenu__category-title" >
        	Субкруги
        	<a class="mdl-button mdl-js-button mdl-button--icon" data-bind="click:Circle.addModal" href=""> <i class="material-icons">add</i></a>
        </h2>
        <ul class="sidemenu__category-links" data-bind="foreach:Circle.activeCircles()">
           <li>
              <span class="sidemenu__category-link">
              <a class="sidemenu__category-link-item" data-bind="
              	text:$data.Name,    
                click:Circle.chooseCircle,
                css:{'sidemenu__category-link-item--active':Circle.choosedCircleId()==$data._id()}  
              " ></a>
                <a class="waves-effect right waves-light mdl-button mdl-js-button mdl-button--icon" data-bind="click:Circle.editCircleModal"><i class="material-icons ">more_vert</i></a>
              </span>
           </li> 
        </ul>
     </li>
</script>



<div class="modal modal-fixed-footer modal-small-50-75" id="add_edit_circle_modal" data-bind='modalBinding:{onCloseStart:Circle.load}'>
   <!-- ko template:{
        name:'modal-model-edit-form',
        data:{
            model: Circle.currentCircle,
            editFields:["Name","IsInGeneral","IsMskTime"],
            remove:Circle.removeCircleAction,
            update:Circle.updateCircle
        }    
   } --><!-- /ko -->
</div>