<div class="screen" data-bind='page:{id:"start"}' >
    <div class="collection">
      <a class='collection-item' data-bind='page-href:"/development/table"'>Таблица</a>
      <a class='collection-item' data-bind='page-href:"/development/layout"'>Сетка</a>
      <a class='collection-item' data-bind='page-href:"/development/cards"'>Карточки</a>
      <a class='collection-item' data-bind='page-href:"/development/buttons"'>Кнопки</a>
    </div>
</div>

<div class="screen" data-bind='page:{id:"buttons", breadcrumbs:{path: "/development/buttons", title: "Кнопки"}}' >
  <a class="waves-effect waves-light btn">button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
  <a class="waves-effect waves-teal btn-flat">Button</a> 
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
  </button>

  <div class="fixed-action-btn" data-bind='mdl-float-buttons:{}'>
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>  
</div>
<div class="screen" data-bind='page:{id:"cards", breadcrumbs:{path: "/development/cards", title: "Карточки"}}' >
    <div class="row">
        <div class="col s12 m6">
          <div class="card sticky-action" style="overflow: visible;">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="https://materializecss.com/images/office.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>

              <p><a href="#!">This is a link</a></p>
            </div>

            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>

            <div class="card-reveal" style="display: none; transform: translateY(0%);">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <p class="caption">
           You can make your card-action always visible by adding the class <code class=" language-markup">sticky-action</code> to the overall card.
          </p>
        </div>
    </div>
</div>


<div class="screen" data-bind='page:{id:"table", breadcrumbs:{path: "/development/table", title: "Таблицы"}}' >
    <table class="striped highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
</div>


<div class="screen" data-bind='page:{id:"layout", breadcrumbs:{path: "/development/layout", title: "Сетка"}}' >
  <div class="mdl-grid demo">
    <div class="mdl-cell mdl-cell--1-col">1-col</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
    <div class="mdl-cell mdl-cell--1-col">1</div>
  </div>
  <div class="mdl-grid demo">
    <div class="mdl-cell mdl-cell--4-col">mdl-cell--4-col</div>
    <div class="mdl-cell mdl-cell--4-col">4</div>
    <div class="mdl-cell mdl-cell--4-col">4</div>
  </div>
  <div class="mdl-grid demo">
    <div class="mdl-cell mdl-cell--6-col">mdl-cell--6-col</div>
    <div class="mdl-cell mdl-cell--4-col">mdl-cell--4-col</div>
    <div class="mdl-cell mdl-cell--2-col">mdl-cell--2-col</div>
  </div>
  <div class="mdl-grid demo">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">6 (8 tablet)</div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
  </div>
</div>

