<script id="login-as-button" type="text/html">
	<a class="dropdown-trigger btn btn-floating halfway-fab waves-effect waves-light blue lighten-3 hoverable" id="demo-menu-lower-right">
		<i class="material-icons">more_vert</i>
	</a>
	<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right" data-bind='
	mdl-component:{}
	'>
		<!-- ko foreach:Development.loginAsRoles -->
			<li class="mdl-menu__item" data-bind='click:Development.loginAs,text:tr($data)'></li>
		<!-- /ko -->
		<li class="mdl-menu__item" data-bind='click:Login.logOut'>Выйти</li>
	</ul>
</script>
