.breadcrumbs {
    padding: 5px;
    margin-bottom: 15px;
    list-style: none;
    background-color: #7986CB;
    padding-left: 20px;
    margin-left: 0px;
}

.breadcrumbs>li {
    display: inline-block;
}

.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #FFF;
    content: "/\00a0";
}

.breadcrumbs>li>a:hover {
    color: #F9F5F9;
}

.breadcrumbs>li>a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

.hidden-dom {
    visibility: hidden;
}