<script id="breadcrumbs" type="text/html">
	<!-- ko ifnot:_.isEmpty(MBreadCrumbs.pages()) -->
    <ol class="breadcrumbs" data-bind='with:MBreadCrumbs.pages'>
    	<!-- ko foreach:$data -->
    		<li> <a data-bind='page-href:$data.path,text:$data.title'></a></li>
        <!-- /ko -->
    </ol>    
    <!-- /ko -->
</script>
