<div class="mdl-grid actions-toolbar">
    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone">
        <!-- ko template:'model_edit_search' -->
        <!-- /ko -->
    </div>
</div>
<div class="mdl-grid ">
    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone">
        <!-- ko template:'model_edit_table' -->
        <!-- /ko -->
    </div>
    <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-phone">
            <!-- ko template:'model_edit_form' -->
            <!-- /ko -->
    </div>
</div>