.mdl-data-table{
	white-space: normal;
}

.mdl-data-table.dataTable td{
	line-height: 20px;
}
    
tr.choosed {
    background-color: #F1F2E6;
}
.card.card-form .input-field{
	margin-top:.5em;
	margin-bottom:.5em;
}
.card.card-form .row{
	margin-bottom: 0px;
}
.card.card-form{
	padding: 0px;
	margin: 0px;
}