.action-buttons.footer-buttons{
	margin-top:2em;
}
.action-buttons.footer-buttons .aqua-button {
	margin-right:2em;
}
.sidemenu__category-link a.mdl-button--icon{
	color:#CFCFCF;
}
.sidemenu__category-link a.mdl-button--icon:hover{
	color:#000;
}
table.bordered-white {
	background: white;
}
table.bordered-white td, table.bordered-white th{
	font-family: Geometria-Regular;
	font-size: 14px;
	border:1px solid #CFCFCF;
	border-collapse: collapse;
	padding-left:1em;
}
table.bordered-white.manpower-distribute td, table.bordered-white.manpower-distribute th{
	border-color: #000;
}
div.secreen-body{
	margin:1em;
	margin-left:0em;
}
table.editable-cells div{
	line-height: 1.5em;
}
table.editable-cells td{
	padding: 5px;
	padding-left:10px; 
}

div.col.s12.full-width-row{
	margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
li.collection-item.in-group-row.inline-form-row.row{
	border-bottom-color: transparent;
}

table.editable-cells.monospace-font td{
	font-family: monospace;
}
div.group-rules{
	font-weight: bold;
	color: green;	
}
a.has-next-intoolbar{
	margin-right: 20px;
}

table.bordered-white.distribute-table td, table.bordered-white.distribute-table th {
    font-family: Geometria-Regular;
    font-size: 13px;
    border: 1px solid #000;
    border-collapse: collapse;
	padding: 0px;
    margin: 0px;
    text-align: center;
}
table.manpower-distribute td{
	line-height: 18px;
	padding: 2px;
}

table.manpower-distribute tr.total td{
	font-weight: bold;
}
table.manpower-distribute tr.distribute td{
	line-height: 2em;
}
table.bordered-white.manpower-distribute td.users, table.bordered-white.manpower-distribute td.distribute-name {
	text-align: left;
	padding-left: 1em;
	line-height: 2em;
}

table.bordered-white.manpower-distribute td, table.bordered-white.manpower-distribute th{
    text-align: center;
    font-size:12px; 
    margin:0px;
    padding: 0px;
    min-width: 40px;
}
table.bordered-white.manpower-distribute tr.circle_name td{
    font-size: 17px;
    line-height: 1.5em;
    text-align: left;
    margin-left: 0px;
    padding-left: 13px;
    font-weight: bold;
}
table.bordered-white td.mono-14{
	font-family: monospace;
	font-size: 14px;
}
.clickable{
	cursor: pointer;
}
td.failed,td.failed.htNumeric{
	background-color: #ef9a9a !important;
}
table.manpower-distribute td.users div{
	padding-right: 5px;
}
div.fixed-form-card{
    margin-bottom: 1em;    
    position: sticky;    
    top: 75px;    
    z-index: 1;    
    background: #fff;
}
td.vocations{
	color:white;
	background: repeating-linear-gradient(
	  45deg,
	  #606dbc,
	  #606dbc 5px,
	  #465298 5px,
	  #465298 10px
	);
}

td.customworkshift{
	color:white;
	background-color: #1976d2;
}
td.customworkshiftclosed{
	color:white;
	background-color: #e64a19;
}
td.precustomworkshiftclosed{
	color:white;
	background-color: #8e24aa;
}
div.guest-pages{
	padding: 100px;
}
div.error-info{
	border:1px solid maroon;
	color:maroon;
	padding: 10px;
	margin-top:10px;
}
div.lock{
    position: absolute;
    right: 0px;
    top: -10px;
    border: 1px solid gray;
    line-height: 40px;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    padding-top: 10px;
    cursor: pointer;
    background-color: white;
}
div.lock.unlocked{
    color: green;
    border-color: green;
}

div.lock.locked{
    color: red;
    border-color: red;
}
td.danger, th.danger{
	background-color: #FCCDCD;
}


