<script id="month-shedule" type="text/html">
    <div class="input-field col s2">
            <select id='monthDistribute' data-bind="
                    options:_.map([1,2,3,4,5,6,7,8,9,10,11,12],function(v){
                        return {
                            id:v+'',
                            text:moment(v,'MM').format('MMMM')
                        }
                    }),
                    optionsText:'text',
                    optionsValue:'id',
                    mdl-select:Schedule.monthChoosed,
                    value:Schedule.monthChoosed
            "></select>
            <label for='monthDistribute'>Месяц распределения</label>
    </div>    
</script>

<script id="year-shedule" type="text/html">
        <div class="input-field col s1">
                <input type="text" autocomplete="off"  data-bind="
                    value:Schedule.yearChoosed,
                    valueUpdate:'keyup'
                ">
                <label  data-bind="css:{active:!_.isEmpty(Schedule.yearChoosed())}" >Год</label>
        </div>
</script>

<script id="schedule-home-page" type="text/html">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" data-bind='mdl-component:{},visible:!_.isEmpty(Department.mainCircle())'>
        <div class="mdl-tabs__tab-bar">
            <!-- ko foreach:(_.isEmpty(Department.mainCircle()))?
                 ["workers"]
                :["workers","distribute","manpower"]-->
            <a href="" data-bind='click:Schedule.changeMode.bind(null,$data),css:{"is-active":Schedule.currentMode()==$data},lang:"Mode."+$data' class="mdl-tabs__tab is-active"></a>
            <!-- /ko -->
        </div>
        <!-- ko ifnot:_.isEmpty(Department.mainCircle()) &&  _.isEmpty(Group.choosedGroupId())  -->
        <div class="mdl-tabs__panel " data-bind='css:{"is-active":Schedule.currentMode()=="workers"}'>
            <div class="secreen-body">
                <!-- ko template:'shedule-users-list' --><!-- /ko -->
            </div>
            <div class="action-buttons footer-buttons" data-bind='ifnot:_.isEmpty(Department.mainCircle())'>
                <!-- ko template:{name:'aqua-button',data:{text:'AddUser',click:Schedule.addUser,type:'info'}} --><!-- /ko -->
                <!-- ko if: _.isEmpty(Circle.choosedCircleId()) -->
                    <!-- ko template:{name:'aqua-button',data:{text:'ImportFromExcel',click:Department.startImport,type:'info'}} --><!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="mdl-tabs__panel " data-bind='css:{"is-active":Schedule.currentMode()=="manpower"},visible:!_.isEmpty(Department.mainCircle())'>
            <!-- ko if:Schedule.currentMode()=="manpower" -->
            <div class="secreen-body" >
                <div class="row" data-bind='with:Schedule.monthChoosed'>
                    <!-- ko template:'month-shedule'--><!-- /ko -->
                    <!-- ko template:'year-shedule'--><!-- /ko -->
                    <!-- ko with:Schedule.currentDistribute -->
                        <div class="input-field col s2">
                            <span data-bind='lang:"NormalWorkHours"'></span>: <span data-bind='text:$data["NormalWorkHours"]'></span>
                        </div>
                         <div class="input-field col s3">
                            <span data-bind='lang:"AllowedOverWork"'></span>: <span data-bind='text:$data["AllowedOverWork"]'></span>
                        </div>
                    <!-- /ko -->                             
                    <div class="input-field col s4">
                             <div class="switch" style="display: inline;">
                                <label class='switch'>
                                  <input type="checkbox"  data-bind='checked:Schedule.useDebugFlag'>
                                  <span class="lever"></span>
                                </label>
                             </div>
                           <!-- ko template:{name:'aqua-button',data:{text:'Recalculate',click:Schedule.reDistributeCircle,type:'info'}} --><!-- /ko -->
                           <!-- ko template:{name:'aqua-button',data:{text:'SheduleToExcel',click:Schedule.exportToExcel,type:'info'}} --><!-- /ko -->
                           <!-- ko template:{name:'aqua-button',data:{text:'SheduleToHtml',click:Schedule.exportToHtml,type:'info'}} --><!-- /ko -->
                           <div class="lock " data-bind='css:{unlocked:!Schedule.isLocked(),locked:Schedule.isLocked()},click:Schedule.isLocked()?Schedule.unlock:Schedule.lock'>
                                <!-- ko if:Schedule.isLocked() -->
                                    <i class="material-icons dp48">lock_outline</i>
                                <!-- /ko -->
                                <!-- ko ifnot:Schedule.isLocked() -->
                                    <i class="material-icons dp48">lock_open</i>
                                <!-- /ko -->                                
                           </div>
                    </div>
                </div>
                <div class="row" data-bind='with:Schedule.manPowers'>

                    <table class="responsive-table bordered-white manpower-distribute">
                        <thead>
                            <tr>
                                <th data-bind='text:DayHelper.sumBad, css:{danger:DayHelper.sumBad()>10}'></th>
                                <!-- ko foreach:Schedule.monthDays() -->
                                    <th data-bind='text:$data.replace(/[^0-9]/g,"")'></th>
                                <!-- /ko -->
                                <th>1-15 </th>
                                <th>1-30 </th>
                            </tr>
                            <tr>
                                <th></th>
                                <!-- ko foreach:Schedule.monthDays() -->
                                    <th data-bind='text:$data.replace(/[0-9]/g,"")'></th>
                                <!-- /ko -->
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind='with:Schedule.manpowerTableData'>
                            <!-- ko with:Circle.circles -->
                                <!-- ko foreach:_.isEmpty(Schedule.circles())?Circle.circles():Schedule.circles() -->
                                    <tr class="circle_name">
                                        <td data-bind='attr:{colspan:Schedule.monthDays().length+3},text:($data.Name()!="[HIDDEN]")?$data.Name():"&nbsp;"'>
                                        </td>
                                    </tr>
                                    <!-- ko foreach:Schedule.circleUsers($data._id()) -->
                                    <tr data-bind='with:Schedule.manpowerTableData'>
                                        <td class="users" data-bind='userColor:$parent'>
                                            <div data-bind='text:$parent.NameUser'></div>
                                        </td>
                                        <!-- ko foreach:_.values(Schedule.manpowerTableData().users[$parent._id()]) -->
                                            <td class='clickable' data-bind='shedule-list:{
                                                distribute:$data,
                                                user:$parents[1],
                                                circle:$parents[2],
                                                day:Schedule.monthDays()[$index()]
                                            },click:Schedule.editCell.bind(null,$parents[1],Schedule.monthDays()[$index()])'></td>
                                        <!-- /ko -->
                                        <td data-bind='text:$data.userSummsHalfMonth[$parent._id()]'></td>
                                        <td data-bind='text:$data.userSummsMonth[$parent._id()],css:{danger:$data.errors[$parent._id()]}'></td>
                                    </tr>
                                    <!-- /ko -->

                                <!-- /ko -->
                            <!-- /ko -->
                            <tr class="circle_name">
                                <td data-bind='attr:{colspan:Schedule.monthDays().length+4}'>&nbsp;
                                </td>
                            </tr>
                            
                            <tr class='total' data-bind='with:Schedule.manpowerTableData'>
                                <td class="distribute-name">Всего</td>
                                <!-- ko foreach:_.values($data.allTotals) -->
                                    <td data-bind='text:($data!=0)?$data:"",css:{danger:($data+"").indexOf("(")!=-1}'></td>
                                <!-- /ko -->
                                <td ></td>
                                <td ></td>
                            </tr>
                            <tr class="circle_name">
                                <td data-bind='attr:{colspan:Schedule.monthDays().length+4}'>&nbsp;
                                </td>
                            </tr>
                            <!-- ko foreach:Schedule.workshiftsStartEnd().start -->
                            <tr class="distribute">
                                <td class="distribute-name mono-14" data-bind='text:$data' ></td>
                                <!-- ko foreach:$parent.start[$data] -->
                                    <td data-bind='text:$data,css:{danger:($data+"").indexOf("(")!=-1}'></td>
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->
                            <tr class="distribute">
                                <td data-bind='attr:{colspan:Schedule.monthDays().length+3}'>&nbsp;</td>                                
                            </tr>
                            <!-- ko foreach:Schedule.workshiftsStartEnd().end -->
                            <tr  class="distribute">
                                <td class="distribute-name  mono-14" data-bind='text:$data'></td>
                                <!-- ko foreach:$parent.end[$data] -->
                                    <td data-bind='text:$data,css:{danger:($data+"").indexOf("(")!=-1}'></td>
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /ko -->
    </div>
    <div class="mdl-tabs__panel " data-bind='css:{"is-active":Schedule.currentMode()=="distribute"},visible:!_.isEmpty(Department.mainCircle())'>
            <!-- ko if:Schedule.currentMode()=="distribute" -->
            <div class="secreen-body" >
                <div class="row" data-bind='with:Schedule.monthChoosed'>
                    <!-- ko template:'month-shedule'--><!-- /ko -->
                    <!-- ko template:'year-shedule'--><!-- /ko -->
                    <!-- ko with:Schedule.currentDistribute -->
                        <!-- ko foreach:['NormalWorkHours','AllowedOverWork'] -->
                             <div class="input-field col s2">
                                    <input type="text" autocomplete="off"  data-bind="
                                        attr:{id:$data},
                                        value:$parent[$data],
                                        valueUpdate:'keyup'
                                    ">
                                    <label data-bind="lang:$data,attr:{for:$data},css:{active:!_.isEmpty($parent[$data]()+'')}" ></label>
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- 
                    <div class="input-field col s1">
                        <a class="waves-effect right waves-light mdl-button mdl-js-button mdl-button--icon has-next-intoolbar" data-bind="click:Department.editDepartmentModal"><i class="material-icons ">save</i></a>
                        <a class="waves-effect right waves-light mdl-button mdl-js-button mdl-button--icon" data-bind="click:Department.editDepartmentModal"><i class="material-icons ">file_upload</i></a>
                    </div>
                    -->
                    <div class="input-field col s2">
                        <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.saveDistribution,type:'success'}} --><!-- /ko -->
                        <!-- ko if: _.isFunction(Schedule.currentDistribute()._id) && !_.isEmpty(Schedule.currentDistribute()._id()) -->
                            <!-- ko template:{name:'aqua-button',data:{text:'Delete',click:Schedule.forceRemove,type:'error'}} --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
                <div class="row" data-bind='with:Schedule.handsonConfig'>
                    <div id="parentContainer" st1yle="width: 900px;height:600px;overflow-y: scroll;" data-bind='with:Schedule.handsonConfig'>
                        <div  data-bind='handsonEditor:$data'></div>
                    </div>
                    <!-- ko with:Schedule.lastError -->
                        <div class='error-info' data-bind='text:$data'></div>
                    <!-- /ko -->                    
                </div>
            </div>
            <!-- /ko -->
    </div>
    <!-- ko if:_.isEmpty(Department.mainCircle()) && _.isEmpty(Group.choosedGroupId()) -->
    <div class="middle-screen-notify">
        <div class='notify-content'>
            <!-- ko if:_.isEmpty(Department.departments()) -->
                Для начала работы создайте подразделение.
            <!-- /ko -->
            <!-- ko ifnot:_.isEmpty(Department.departments())  -->
                Для начала работы выберите подразделение.
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</script>

<script id="shedule-users-list" type="text/html">
    <div class="row">
        <!-- ko if:_.isEmpty(Schedule.users()) -->
        <!-- ko with:'Сотрудники не найдены' -->
        <!-- ko template:'error-message' -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot:_.isEmpty(Schedule.users()) -->
        <div class="col s12 full-width-row">
            <div class="row" d1ata-bind='with:Schedule.monthChoosed'>
                    <!-- ko template:'month-shedule'--><!-- /ko -->
                    <!-- ko template:'year-shedule'--><!-- /ko -->
            </div>
            <table class="responsive-table striped bordered-white editable-cells monospace-font">
                <thead>
                    <tr>
                        <th>Сотрудник</th>
                        <th>Исключить смены</th>
                        <th>Отпуска</th>
                        <th>Обучения, встречи</th>
                        <th>Особые смены</th>
                        <th>Шаблоны</th>
                        <th>Правила</th>
                    </tr>
                </thead>
                <tbody data-bind='foreach:Schedule.users()'>
                    <tr>
                        <td data-bind='text:$data.NameUser,click:Schedule.editUserModal,userColor:$data'></td>
                        <td data-bind='click:Schedule.editWorkshifts.bind(null,$data)' >
                            <!-- ko ifnot:_.isEmpty($data.WorkShifts()) -->
                            <!-- ko foreach:$data.WorkShiftsView() -->
                                <div data-bind='text:$data'></div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <td data-bind='click:Schedule.editVacations' >
                            <!-- ko ifnot:_.isEmpty($data.Vacations()) -->
                            <!-- ko foreach:$data.Vacations() -->
                                    <div data-bind='visible:Schedule.checkDates($data)'>
                                        <span data-bind='dayRangeText:[$data.DayStart,$data.DayEnd]'></span>
                                    </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <td data-bind='click:Schedule.editStudyTime' >
                            <!-- ko ifnot:_.isEmpty($data.StudyTime()) -->
                            <!-- ko foreach:$data.StudyTime() -->
                                <!-- ko if: $data.IsOneTime() -->
                                        <div data-bind='visible:Schedule.checkDates($data)'>
                                            <span data-bind='dayRangeText:[$data.DayStart]'></span>
                                            <span data-bind='timeRangeText:[$data.TimeStart,$data.TimeEnd]'></span>
                                        </div>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.IsOneTime() -->
                                    <!-- ko if:_.isEmpty($data.WeekDays) -->
                                        <!-- Встреча -->
                                        <div data-bind='visible:Schedule.checkDates($data)'>
                                            <span data-bind='dayRangeText:[$data.DayStart,$data.DayEnd]'></span>
                                            <span data-bind='timeRangeText:[$data.TimeStart,$data.TimeEnd]'></span>
                                        </div>
                                    <!-- /ko -->
                                    <!-- ko ifnot:_.isEmpty($data.WeekDays) -->
                                        <!-- Обучение -->
                                        <div data-bind='visible:Schedule.checkDates($data)'>
                                            <span data-bind='dayRangeText:[$data.DayStart,$data.DayEnd]'></span>
                                            <span data-bind='timeRangeText:[$data.TimeStart,$data.TimeEnd]'></span>
                                            <span data-bind='weekRangeText:$data.WeekDays'></span>
                                        </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <td data-bind='click:Schedule.editCustomWorkShifts' >
                            <!-- ko ifnot:_.isEmpty($data.CustomWorkShifts()) -->
                            <!-- ko foreach:$data.CustomWorkShifts() -->
                                <!-- ko ifnot:_.includes(['precustomworkshiftclosed','customworkshiftclosed'],$data.Info()) -->
                                    <div data-bind='visible:Schedule.checkDates($data)'>
                                        <span data-bind='text:$data.DayStart'></span>
                                        <span data-bind='timeRangeText:[$data.TimeStart,$data.TimeEnd]'></span>
                                    </div>
                                <!-- /ko -->
                                <!-- ko ifnot:$data.Info()=="customworkshift" -->
                                    <div data-bind='visible:Schedule.checkDates($data)'>
                                        <span data-bind='text:$data.DayStart'></span>
                                        <span data-bind='lang:$data.Info()+"status"'></span>
                                    </div>
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </td> 
                        <td data-bind='click:Schedule.editWorkTemplates'>
                            <!-- ko ifnot:_.isEmpty($data.WorkTemplates()) -->
                            <!-- ko foreach:$data.WorkTemplatesView() -->
                                <div data-bind='text:$data'></div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                        <td data-bind='click:Schedule.editUserModal' >
                            <!-- ko if:$data.IsNew() -->
                                    <div>Новичок</div>
                            <!-- /ko -->
                            <!-- ko ifnot:$data.IsNew() -->
                            <!-- ko if:$data.IsGroupNew() -->
                                <div class='group-rules' >Новичок</div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if:$data.IsInDistribution() -->
                                    <div>Распределение</div>
                            <!-- /ko -->
                            <!-- ko ifnot:$data.IsInDistribution() -->
                            <!-- ko if:$data.IsInCircleDistribution() -->
                                <div class='group-rules' >Распределение</div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /ko -->
    </div>
</script>

<div class="modal modal-fixed-footer modal-small-50-75" id="add_edit_user_modal" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        <!-- ko if:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
        Редактирование сотрудника (<span data-bind='text:NameUser'></span>)
        <!-- /ko -->
        <!-- ko ifnot:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
        Добавление сотрудника
        <!-- /ko -->
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
            <div class="row">
                <!-- ko template:{
                        name:"model_field_edit",
                        data:{
                            model:$data,
                            field:"NameUser"
                        }
                     } -->
                <!-- /ko -->
            </div>     
           
            <div class="row">
                <div class="input-field col s6">
                    <select multiple data-bind='
                            attr:{id:"Circles"},
                            selectedOptions:$data.Circles,
                            options:_.map(Circle.activeCircles(),function(v){
                                return {id:v._id(),text:v.Name()};
                            }),
                            optionsText:"text",
                            optionsValue:"id",
                            mdl-select:$data.Circles
                        '>
                    </select>
                    <label data-bind='lang:"Circles"'></label>
                </div>
                <div class="input-field col s6">
                    <select multiple data-bind='
                                attr:{id:"Groups"},
                                selectedOptions:$data.Groups,
                                options:_.map(Group.groups(),function(v){
                                    return{id:v._id(),text:v.Name()};
                                }),
                                optionsText:"text",
                                optionsValue:"id",
                                mdl-select:$data.Groups
                            '>
                    </select>
                    <label data-bind='lang:"Groups"'></label>
                </div>
            </div>
            <div class="row">
               <div class="input-field col s6">
                    <div class="switch">
                        <span class="switch-name">Новичок</span>
                        <label class="switch">
                          <input type="checkbox" data-bind="checked:$data.IsNew">
                          <span class="lever"></span>
                        </label>
                     </div>                    
                </div>
                <div class="input-field col s6">
                    <div class="switch">
                        <span class="switch-name">Участие в распределении</span>
                        <label class="switch">
                          <input type="checkbox" data-bind="checked:$data.IsInDistribution">
                          <span class="lever"></span>
                        </label>
                     </div>                    
                </div>
            </div>


        </div>
        <div class="row" data-bind='with:Schedule.currentUser'>
            <div class="input-field col s12">
                <!-- ko if:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
                <!-- ko template:{name:'aqua-button',data:{text:'Delete',click:Schedule.removeUserAction,type:'error left'}} -->
                <!-- /ko -->
                <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot:_.isFunction($data._id) && !_.isEmpty($data._id()) -->
                <!-- ko template:{name:'aqua-button',data:{text:'Add',click:Schedule.updateUserAction,type:'success right'}} -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fixed-footer modal-small-50-75" id="edit_workshifts" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        Выберите смены для исключения (<span data-bind='text:NameUser'></span>)
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
            <div class="col s12 full-width-row">
                <table class="responsive-table striped bordered-white editable-cells">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Начало работы</th>
                            <th>Конец работы</th>
                            <th>Обед</th>
                        </tr>
                    </thead>
                    <tbody data-bind='foreach:Schedule.workshifts()'>
                        <tr>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" data-bind='attr:{value:$data._id},checked:$parent.WorkShifts' />
                                    <span> </span>
                                </label>
                            </td>
                            <td data-bind='text:$data.TimeStart'></td>
                            <td data-bind='text:$data.TimeEnd'></td>
                            <td data-bind='text:$data.LunchStartEnd'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fixed-footer modal-small-50-75" id="edit_worktemplates" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        Управление шаблонами (<span data-bind='text:NameUser'></span>)
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>        
            <div class="full-width-row row">
                <div class="col s12">
                    <div class="switch">
                        <span class="switch-name" >Случайный порядок шаблонов</span>
                        <label class="switch">
                          <input type="checkbox" data-bind="checked:$data.ShuffleWorkTemplates">
                          <span class="lever"></span>
                        </label>
                     </div>
                </div>
            </div>
            <div class="full-width-row row">
                <div class="col s6">
                    <div class="column-title" data-bind='with:Schedule.currentUser'>
                        Конструктор расписания
                    </div>
                    <div class="sortable-list"  data-bind="sortable: { template: 'worktemplate-tpl-with-remove', data: $data.WorkTemplates, afterMove: Schedule.afterWorktemplateMove }">                        
                    </div>
                </div>
                <div class="col s6 ">
                    <div class="column-title" data-bind='with:Schedule.currentUser'>
                        Доступные шаблоны
                    </div>
                    <div class="sortable-list"  data-bind="sortable: { template: 'worktemplate-tpl', data: Schedule.worktemplates, afterMove: Schedule.afterWorktemplateMove}">

                    </div>
                </div>
            </div>       
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} --><!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<script id="worktemplate-tpl" type="text/html">
     <div class="worktemplate-item" data-bind='text:$data.Name'>
    </div>
</script>

<script id="worktemplate-tpl-with-remove" type="text/html">
     <div class="worktemplate-item choosed-item" >
        <span data-bind='text:$data.Name'></span>
        <a class="right mdl-button mdl-js-button mdl-button--icon" data-bind='click:Schedule.removeUserWorkTemplate'><i class="material-icons dp48">remove</i></a>            
    </div>
</script>



<div class="modal modal-fixed-footer modal-small-50-75" id="edit_vacations" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        Укажите даты отпуска (<span data-bind='text:NameUser'></span>)
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
            <div class="col s12 full-width-row">
                <ul class="collection inline-form" height="100%">
                    <!-- ko ifnot:_.isEmpty($data.Vacations()) -->
                    <!-- ko foreach:$data.Vacations() -->
                    <li class="collection-item inline-form-row row">
                        <div class='col s1 li-action-icon'>
                            <a class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.removeTimeRange.bind(null,"Vacations",$data)' href=''><i class="material-icons">remove</i></a>
                        </div>
                        <!-- ko foreach:["DayStart","DayEnd"] -->
                        <div class=" col s4">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",mask:"99.99.9999"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <li class="collection-item inline-form-row row">
                        <div class='col s1 li-action-icon'>
                            <a  class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.addTimeRange.bind(null,"Vacations")'  href=''> <i class="material-icons">add</i></a>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fixed-footer modal-small-50-75" id="edit_custom-shift" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        Особые смены (<span data-bind='text:NameUser'></span>)
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
            <div class="col s12 full-width-row">
                <ul class="collection inline-form" height="100%">
                    <!-- ko ifnot:_.isEmpty($data.CustomWorkShifts()) -->
                    <!-- ko foreach:$data.CustomWorkShifts() -->
                    <li class="collection-item inline-form-row row" data-bind='css:{"in-group-row":$data.Info()=="customworkshift"}'>
                        <div class='col s1 li-action-icon'>
                            <a class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.removeTimeRange.bind(null,"CustomWorkShifts",$data)' href=''><i class="material-icons">remove</i></a>
                        </div>
                        <div class=" col s4">
                            <input type="text" autocomplete="off" data-bind='attr:{id:"DayStart"},value:$data["DayStart"],valueUpdate:"keyup",mask:"99.99.9999"'>
                            <label data-bind='attr:{for:"DayStart"},css:{active:_.isFunction($data["DayStart"]) && !_.isEmpty($data["DayStart"]())},lang:"Day"'></label>
                        </div>
                        <div class=" col s4">
                            <select data-bind='
                                    attr:{id:"Info"},
                                    value:$data.Info,
                                    options:_.map(["customworkshiftclosed","precustomworkshiftclosed","customworkshift"],function(v){
                                        return {id:v,text:tr(v)};
                                    }),
                                    optionsText:"text",
                                    optionsValue:"id",
                                    mdl-select:$data.Info
                                '>
                            </select>
                            <label data-bind='lang:"Тип"'></label>
                        </div>
                    </li>
                    <!-- ko if:$data.Info()=="customworkshift" -->
                    <li class="collection-item inline-form-row row">
                        <div class='col s1 li-action-icon'>
                            &nbsp;
                        </div>
                        <!-- ko foreach:["TimeStart","TimeEnd"] -->
                        <div class=" col s4">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",time_mask:"Hh:Mm"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <li class="collection-item inline-form-row row">
                        <div class='col s1 li-action-icon'>
                            <a  class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.addTimeRange.bind(null,"CustomWorkShifts")'  href=''> <i class="material-icons">add</i></a>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fixed-footer modal-small-50-75" id="edit_study-time" data-bind='modalBinding:{onCloseStart:Schedule.onModalClose}'>
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        Укажите расписание обучений и встреч (<span data-bind='text:NameUser'></span>)
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
            <div class="col s12 full-width-row">
                <ul class="collection inline-form" height="100%">
                    <!-- ko ifnot:_.isEmpty($data.StudyTime()) -->
                    <!-- ko foreach:$data.StudyTime() -->
                    <!-- ko if:console.log($data) -->
                    <!-- /ko -->
                    <!-- ko ifnot:$data.IsOneTime() -->
                    <li class="collection-item inline-form-row row in-group-row">
                        <div class='col s1 li-action-icon'>
                            <a class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.removeTimeRange.bind(null,"StudyTime",$data)' href=''><i class="material-icons">remove</i></a>
                        </div>
                        <!-- ko foreach:["DayStart","DayEnd"] -->
                        <div class=" col s4">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",mask:"99.99.9999"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                        <div class=" col s1">
                            <label class="switch">
                                <input type="checkbox" data-bind='checked:$data.IsOneTime' />
                                <span data-bind='lang:"IsOneTime"'></span>
                            </label>
                        </div>
                    </li>
                    <li class="collection-item inline-form-row row in-group-row">
                        <div class='col s1 li-action-icon'>
                            &nbsp;
                        </div>
                        <!-- ko foreach:["TimeStart","TimeEnd"] -->
                        <div class=" col s4">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",time_mask:"Hh:Mm"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                    </li>
                    <li class="collection-item inline-form-row row ">
                        <div class='col s1 li-action-icon'>
                            &nbsp;
                        </div>
                        <!-- ko foreach:MModels.config().timerange.fields.WeekDays.variants -->
                        <div class=" col s1">
                            <label class="switch">
                                <input type="checkbox" data-bind='attr:{value:$data},checked:$parent.WeekDays' />
                                <span data-bind='text:$data'></span>
                            </label>
                        </div>
                        <!-- /ko -->
                    </li>
                    <!-- /ko -->
                    <!-- ko if:$data.IsOneTime() -->
                    <li class="collection-item inline-form-row row  ">
                        <div class='col s1 li-action-icon'>
                            <a class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.removeTimeRange.bind(null,"StudyTime",$data)' href=''><i class="material-icons">remove</i></a>
                        </div>
                        <!-- ko foreach:["DayStart"] -->
                        <div class=" col s3">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",mask:"99.99.9999"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                        <!-- ko foreach:["TimeStart","TimeEnd"] -->
                        <div class=" col s3">
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",time_mask:"Hh:Mm"'>
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                        </div>
                        <!-- /ko -->
                        <div class=" col s1 nowrap">
                            <label class="switch">
                                <input type="checkbox" data-bind='checked:$data.IsOneTime' />
                                <span data-bind='lang:"IsOneTime"'></span>
                            </label>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <li class="collection-item inline-form-row row">
                        <div class='col s1 li-action-icon'>
                            <a  class='mdl-button mdl-js-button mdl-button--icon' data-bind='click:Schedule.addTimeRange.bind(null,"StudyTime")'  href=''> <i class="material-icons">add</i></a>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Save',click:Schedule.updateUserAction,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-fixed-footer modal-small-50-75" id="edit_user_day" data-bind='modalBinding:{onCloseStart:Schedule.onUserDayModalClose}'>
    <!-- ko if:Schedule.currentMode()=="manpower" && !_.isEmpty(Schedule.editCellDay()) -->
    <div class="modal-title" data-bind='with:Schedule.currentUser'>
        <span data-bind='date-from-day:Schedule.editCellDay'></span> <span data-bind='text:$data.NameUser'></span>
        <a class='dismiss-modal modal-close right mdl-button mdl-js-button mdl-button--icon'><i class="material-icons dp48">clear</i></a>
    </div>
    <div class="modal-content modal-edit-form">
        <div data-bind='with:Schedule.currentUser'>
                <div class="col s12 full-width-row">
                    <!-- ko with:Schedule.cellCustomWorkShift -->
                    <!-- ko ifnot:$data.Info()=="customworkshift" -->
                        <div class=" col s4">
                            <select data-bind='
                                    attr:{id:"Info"},
                                    value:$data.Info,
                                    options:_.map(["customworkshiftclosed","precustomworkshiftclosed","customworkshift"],function(v){
                                        return {id:v,text:tr(v)};
                                    }),
                                    optionsText:"text",
                                    optionsValue:"id",
                                    mdl-select:$data.Info
                                '>
                            </select>
                            <label data-bind='lang:"Тип"'></label>
                        </div>
                    <!-- /ko -->
                    <!-- ko if:$data.Info()=="customworkshift" --> 
                        <div class=" col s3">
                            <select data-bind='
                                    attr:{id:"Info"},
                                    value:$data.Info,
                                    options:_.map(["customworkshiftclosed","precustomworkshiftclosed","customworkshift"],function(v){
                                        return {id:v,text:tr(v)};
                                    }),
                                    optionsText:"text",
                                    optionsValue:"id",
                                    mdl-select:$data.Info
                                '>
                            </select>
                            <label data-bind='lang:"Тип"'></label>
                        </div>                        
                        <!-- ko foreach:["TimeStart","TimeEnd"] -->
                        <div class=" col s3">
                            <label data-bind='attr:{for:$data},css:{active:_.isFunction($parent[$data]) && !_.isEmpty($parent[$data]())},lang:$data'></label>
                            <input type="text" autocomplete="off" data-bind='attr:{id:$data},value:$parent[$data],valueUpdate:"keyup",time_mask:"Hh:Mm"'>                            
                        </div>
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
            </div>
            <div class="row" data-bind='with:Schedule.currentUser'>
                <div class="input-field col s12">
                    <!-- ko template:{name:'aqua-button',data:{text:'Apply',click:Schedule.updateUserDay,type:'success right'}} -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
