<script id="left_menu" type="text/html">
	 <sidemenu>
	    <div class="sidemenu" data-bind="css:{'sidemenu--active': !LeftMenu.isMenuToggled()}">
	       <div class="sidemenu__menu">
	          <div class="sidemenu__header">
	             <a class="sidemenu__logo"  data-bind='page-href:"/"'><span class='sidemenu-logo-title' >Расписание</span></a>
	             <div class="sidemenu__close" data-bind="click:LeftMenu.closeMenu"></div>
	          </div>
	          <ul class="sidemenu__categories" data-bind='with:LeftMenu.menu'>
	             <!-- ko foreach:_.keys($data) -->
	             <li class="sidemenu__categories-item sidemenu__category">
	                <h2 class="sidemenu__category-title" data-bind='text:$data'></h2>
	                <ul class="sidemenu__category-links" data-bind='foreach:LeftMenu.menu()[$data]'>
	                   <li >
	                      <span class="sidemenu__category-link" >
	                      <a  class="sidemenu__category-link-item" data-bind="
	                      	text:$data.name,
	                      	page-href:$data.phref,
	                      	css:{'sidemenu__category-link-item--active':MBreadCrumbs.сheckPath($data.phref)}
	                      "></a>
	                      </span>
	                   </li>
	                </ul>
	             </li>
	             <!-- /ko -->

	             <!-- ko foreach: LeftMenu.menuBlocks() -->
	             	<!-- ko template:{
	             		name:$data.id+"-left-menu-block"
	             	}--><!-- /ko -->
	             <!-- /ko -->
	             
	          </ul>
	       </div>
	    </div>
	 </sidemenu>	
</script>
