body{
  overflow-y: scroll!important;
}
div.mdl-grid.demo div.mdl-cell{
  background-color: gray!important;
  border:1px solid green!important;
}
.requisites {
  position: relative;
}
.requisites__left {
  display: inline-block;
  width: 60%;
  margin: 0px;
  margin-right: 15px;
}
@media (max-width: 639px) {
  .requisites__left {
    margin-right: 0;
    width: 100%;
    margin-top: calc(45vw + 80px);
  }
}
.requisites__show-reqs {
  padding: 15px 0;
}
.requisites__address {
  color: #6f6f6f;
  font-weight: bold;
  margin: 0;
}
.requisites__header {
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 639px) {
  .requisites__header {
    font-size: 20px;
  }
}
.requisites__contacts {
  margin-bottom: 5px;
}
@media (max-width: 639px) {
  .requisites__contacts {
    margin-top: 20px;
    width: 100%;
  }
}
.requisites__contacts-link {
  display: inline-block;
  margin-right: 20px;
}
.requisites__contacts-link-tel {
  color: #6f6f6f;
}
.requisites__list {
  position: relative;
  min-width: 500px;
}
@media (max-width: 639px) {
  .requisites__list {
    min-width: auto;
  }
}
.requisites__list-col {
  vertical-align: top;
  display: inline-block;
  width: 48%;
}
.requisites__list-col:nth-child(odd) {
  margin-right: 2%;
}
@media (max-width: 639px) {
  .requisites__list-col {
    display: block;
    width: 100%;
  }
}
.requisites__item {
  display: block;
  margin-bottom: 15px;
  vertical-align: top;
}
.requisites__item-name {
  color: #a3a2a2;
  font-size: 14px;
  margin: 0;
}
.requisites__item-content {
  margin: 0;
  font-weight: 500;
  word-wrap: break-word;
}
.requisites__logo {
  text-align: right;
  display: inline-block;
  width: 36%;
  vertical-align: top;
}
@media (max-width: 639px) {
  .requisites__logo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin: 40px 0;
  }
}
.requisites__logo-img {
  max-height: 200px;
  max-width: 400px;
}
@media (max-width: 1024px) {
  .requisites__logo-img {
    max-width: 35vw;
    width: auto;
  }
}
@media (max-width: 639px) {
  .requisites__logo-img {
    max-width: 85vw;
    max-height: 45vw;
  }
}
.body__main-tabs-link {
  margin-right: 30px;
  font-size: 24px;
}
@media (max-width: 639px) {
  .body__main-tabs-link {
    margin-right: 10px;
    font-size: 16px;
  }
}
.body__main-tabs-link .ib-link__content {
  font-weight: bold;
}
.body__main-tabs--active-tab {
  color: #231f20 !important;
  font-weight: bold;
}
.body__main-tabs--active-tab .ib-link__content {
  background-image: none !important;
}
.body__container {
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 10px 12px rgba(0,0,0,0.11);
  z-index: 100;
}
.body__info {
  width: 100%;
  padding: 10px 70px 70px;
  position: relative;
  top: 40px;
}
@media (max-width: 1024px) {
  .body__info {
    padding: 0 40px 60px;
  }
}

@media (max-width: 1024px){
  requisites {
      overflow: hidden;
      display: block;
      min-height: initial;
  }
}
@media (max-width: 639px) {
  .body__info {
    padding: 0 20px 30px;
    position: initial;
  }
}
.body__gradient {
  margin-bottom: 60px;
  width: 100%;
  height: 7px;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  background: -webkit-linear-gradient(#cbcaca 5%, #fff 100%);
  background: linear-gradient(#cbcaca 5%, #fff 100%);
}
@media (max-width: 639px) {
  .body__gradient {
    margin-bottom: 40px;
    height: 5px;
  }
}
.body__card-state-success {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, #77ad45, #8fad46);
  background: linear-gradient(to right, #77ad45, #8fad46);
  color: #fff;
  height: 80px;
}
@media (max-width: 639px) {
  .body__card-state-success {
    height: 85px;
    padding: 20px;
  }
}
.body__card-state-success-box {
  position: relative;
  max-width: 1150px;
  margin: auto;
}
.body__card-state-success-text,
.body__card-state-success-repeat,
.body__card-state-success-cancel-icon {
  position: absolute;
}
@media (max-width: 639px) {
  .body__card-state-success-text,
  .body__card-state-success-repeat {
    position: initial;
    display: block;
    margin: 10px;
  }
}
.body__card-state-success-text {
  font-size: 24px;
  left: 70px;
  top: 23px;
}
@media (max-width: 1024px) {
  .body__card-state-success-text {
    left: 40px;
  }
}
@media (max-width: 639px) {
  .body__card-state-success-text {
    font-size: 16px;
  }
}
@media (max-width: 639px){
  .home__tabs {
      margin-top: 0px;
  }
}
.body__card-state-success-repeat {
  right: 100px;
  top: 26px;
}
.body__card-state-success-repeat .ib-link__content {
  color: #fff;
  background-image: -webkit-linear-gradient(left, #fff 0%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #fff 100%);
}
.body__card-state-success-repeat-icon {
  display: inline-block;
  position: relative;
  top: 4px;
  right: 5px;
  width: 18px;
  height: 18px;
  background: url(repeat.29caf364301d628966ee.svg) no-repeat;
}
.body__card-state-success-cancel-icon {
  right: 20px;
  top: 32px;
  width: 20px;
  height: 20px;
  background: url(cross.fa9b9267a788fec4f559.svg) no-repeat;
  cursor: pointer;
}
.main-header__customers-content{
  padding-bottom: 0px;
  padding-top: 0px;
}


@media (max-width: 639px){
.home__tabs {
    margin-top: 0px;
}
.main-header__customers-content{
      padding-top: 0px;
    padding-bottom: 0px;
}
}

.mdl-list__item{
  padding: 0px;
}
.requisites__item-content{
  line-height: 18px;
}
.mdl-tabs {
    display: block;
    width: initial;
}
.sidemenu__backdrop{
  background-color: initial;
}
body{
      overflow-y: scroll;
}
.sidemenu--active .sidemenu__menu{
  position: absolute;
  opacity: .97;
}
.home__tabs{
  margin-top:0px;
}

.mdl-list__item {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    min-height: 32px;
}
.main-header__content{
  padding-right: initial;
}
.main-header {
    margin-bottom: 0px;
}

.sidemenu__categories{
  margin-left:30px;
}
a.sidemenu__logo {
  color:gray;
}
ul.mdl-menu li, ol.breadcrumbs li{
  font-family: Geometria,sans-serif;
  font-weight: 400;
  font-size: 17px;
}

body, body input, body textarea, body select, body button, body table{
  font-family: Geometria,sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.main-header{
      height: 55px
}
.dataTable.mdl-data-table td{
     cursor: pointer;
}
.mdl-data-table td, .mdl-data-table th {
    padding: 10px;
    text-align: left;
    font-size: 15px;
}
@media (max-width: 479px){
  .mdl-data-table td, .mdl-data-table th {
      padding: 10px;
      text-align: left;
      font-size: 13px;
  }
}
.btn-margin20{
  margin:20px;
}

.input-field>label:not(.label-icon).forceActive {
    -webkit-transform: translateY(-14px) scale(.8);
    transform: translateY(-14px) scale(.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.sidemenu__backdrop{
  visibility: hidden!important;
}
@media (max-width: 479px){
.sidemenu--active{
  position: fixed;
  z-index: 1000;
}
}
.file-field.avatar input.file-path{
  display: none;
}
body{
  padding-right: 0px!important;
}

.mdl-grid.mdl-grid-no-padding-no-margin {
  padding: 0px;
  margin:0px;
}

.mdl-grid.mdl-grid-no-padding-no-margin .mdl-cell{
  padding: 0px;
  margin:0px;
}
.main-page-progress{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.sidemenu-burger {
    height: 50px;
}
ul.mdl-menu li.mdl-menu__item{
  font-weight: 300;
}
@media (min-width: 1366px){
  .main-header__wrapper {
       max-width: initial; 
  }
}
.top-menu-buttons .btn-floating.top-menu-button{
  margin-top: 7px;
  margin-right: 20px;  
}

@media (max-width: 1180px){
  .main-header__sidemenu {
      float: none;
      left: 0px;
      margin-right: 0px;
      width: initial;
  }
}
.sidemenu__header{
  cursor: pointer;
}
li.collection-item.inline-form-row.row{
  padding: 0px;
  margin: 0px;
  line-height: 1em;
}






.fc-state-highlight {
    opacity: 0;
    border: 1px solid #E0E0E0;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding: 5px;
    opacity: .65;
    left: 5% !important;
    right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
    font-size: inherit !important;
    font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
    border: 1px solid #E0E0E0;
    padding: 0 !important;
    vertical-align: top !important;
    background: white;
}
.fc td.fc-other-month {
    border: 1px solid #E0E0E0;
    padding: 0 !important;
    vertical-align: top !important;
    background: #F7F3F3;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
    font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Material design button */
.fc-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    letter-spacing: .01em;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.fc-button:hover {
    background-color: rgba(158,158,158,0.2);
}

.fc-button:focus, .fc-button:hover {
    text-decoration: none;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */
.fc-state-active {
    background-color: rgba(158,158,158,0.2);
}

/* Not raised button */
.fc-state-default {
    box-shadow: None;
}
.main-calendar h2{
      font-size: 22px;
}
.fc button, .fc table, body .fc{
  font-weight: 300;
}
td.fc-today span.fc-day-number{
    background: #90CAF9;
    border-radius: 100%;
    padding: 0px 7px;
    margin-top: 2px;
    margin-right: 3px;
    color: white;
}
.fc-unthemed td.fc-today {
    background: white;
}
.btn-floating.online-status-button{
    width: 10px;
    height: 10px;
    vertical-align: baseline;
}

body, body input, body textarea, body select, body button, body table {
    font-family: Geometria,sans-serif;
    font-weight: 300;
    font-size: 17px;
}
a.dismiss-modal    {
    margin-right: 15px;
    color: gray;
}
.dropdown-content li>a, .dropdown-content li>span{
  color:initial;
}

.select-wrapper input.select-dropdown:focus, input:not([type]):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
     border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
     box-shadow: 0 1px 0 0 black;
}
.input-field .prefix{
  color:gray;
}
.input-field .prefix.active, input:not([type]):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color:black;
}
label {
  pointer-events: none;
}
.main-header__wrapper{
  background-color: white;
}
.card.horizontal .card-image img.circle{
  border-radius: 100%;
}
.colorpicker.dropdown-menu{
  position: absolute;
}
.file-field .btn, .file-field .btn-large, .file-field .btn-small{
  height: 2rem;
  line-height: 2rem;
}

div.aqua-button.gray-button .aqua-button__title{
    font-family: Geometria-Regular;
    font-size: 14px;
    font-weight: normal;
}

div.aqua-button.gray-button .aqua-button__title{
    color:#CFCFCF;
}

div.aqua-button.gray-button:hover .aqua-button__title{
    color:#000;
}


.aqua-button.gray-button:after, .aqua-button.gray-button:before{
    border-color:#CFCFCF;
}


.aqua-button.gray-button:hover:after, .aqua-button.gray-button:hover:before{
    border-color:#000;
}

table.htCore *{
    font-family: monospace!important;
    font-size:15px;
}
div.mdl-tabs__panel{
  o1verflow-x: scroll;

}
