<script id="top-menu" type="text/html">
    <div class="mdl-grid mdl-grid-no-padding-no-margin  mdl-grid--no-spacing ">
        <div class="mdl-cell  mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--hide-desktop center">
            <sidemenu-burger class="main-header__sidemenu">
                <div class="sidemenu-burger" data-bind="click:LeftMenu.openMenu"></div>
            </sidemenu-burger>
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--3-col  center mdl-cell--hide-phone mdl-cell--4-col-tablet mdl-cell--hide-tablet top-menu-buttons">
            <!-- ko foreach:TopMenu.menu() -->
            	<!-- ko template:{name:$data} --><!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="mdl-cell mdl-cell--1-col  center mdl-cell--hide-desktop " >
			<div class="fixed-action-btn  click-to-toggle direction-bottom" data-bind='mdl-float-buttons:TopMenu.menu' style="position: absolute; right: 30px; top:5px;">
			  <a class="btn-floating blue lighten-3">
			    <i class="large material-icons">more_vert</i>
			  </a>
			  <ul>
			  	<!-- ko foreach:TopMenu.menu() -->
			  		<li>
			  			<!-- ko template:{name:$data} --><!-- /ko -->
			  		</li>
			  	<!-- /ko -->			  	
			  	<li><a class="btn-floating orange lighten-1" data-bind='page-href:"/profile"'><i class="material-icons">person</i></a></li>
			  	<li><a class="btn-floating purple lighten-1" data-bind='page-href:"/"'><i class="material-icons">home</i></a></li>
			  </ul>
			</div>        	
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone mdl-cell--hide-tablet">
            <!-- ko if:_.isEmpty(MSite.Me()) -->
                <div class="emptyUser" style="height: 55px;">
                    <!-- ko template:'login-as-button'--><!-- /ko -->            
                </div>
            <!-- /ko -->
            <div class="card  transparent z-depth-0 top-menu-card" data-bind='with:MSite.Me'>
                <div class="card-content ">
                    <div class="mdl-grid mdl-grid-no-padding-no-margin  mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--3-col  mdl-cell--12-col-phone mdl-cell-avatar center" data-bind='page-href:"/profile"'>
                            <span class="avatar" data-bind="letterAvatar:{img:$data.UserPhoto,name:$data.NameUser,size:50}"></span>
                        </div>
                        <div class="mdl-cell mdl-cell--9-col mdl-cell--hide-phone">
                            <span class="card-title truncate" data-bind='text:$data.NameUser,page-href:"/profile"'></span>
                            <span class="card-text truncate comma-list" data-bind='foreach:$data.Roles(),page-href:"/profile"'>
                            <!-- ko if:MSocket.isOnline() -->
                                <a class="btn-floating green online-status-button"></a>
                            <!-- /ko -->
                            <!-- ko ifnot:MSocket.isOnline() -->
                                <a class="btn-floating orange lighten-1 online-status-button"></a>
                            <!-- /ko -->
			  				<span data-bind='lang:$data'></span>
                            </span>
                            <!-- ko template:'login-as-button'--><!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>