<div class="activity_box" >
    <div  class="activity-body">
        <div>Импорт сотрудников</div>        
        <div id="fuelux-wizard-container" class="no-steps-container">
            <div>
                <ul class="stepper horizontal" style="margin-left: 0" data-bind='foreach:[
                    {step:1,text:"Выбор файла", template:"import-choose-file"},
                    {step:2,text:"Предпросмотр", template:"import-view"},
                    {step:3,text:"Импорт", template:"do-import"},
                ]'>
                    <li class="step" data-bind='css:{active:Department.importStep()==$data.step}'>
                        <div class="step-title waves-effect " data-bind='text:$data.text'></div>
                        <div class="step-content">
                            <!-- ko template:{
                                name:$data.template
                            } --><!-- /ko -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>