<script id="import-choose-file" type="text/html">
    <div class="row">
        <div class="file-field input-field">
            <div class="btn">
                <span>Файл</span>
                <input type="file" data-bind='fileUpload:Department.importFile'>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text" placeholder="Выберите файл для импорта">
            </div>
        </div>
        <div class="text-center center" data-bind='with:Department.importFile'>
            <!-- ko template:{name:'aqua-button',data:{text:'Continue',click:Department.proceedImport,type:'success'}} -->
            <!-- /ko -->
        </div>
    </div>
</script>

<script id="import-view" type="text/html">
    <div class="big-step-content" data-bind='with:Department.importWorkers'>
        <!-- ko foreach:$data -->
        <div class="row">
                <label class="switch">
                    <input type="checkbox"  data-bind="value:$data.name, checked: Department.choosedImportWorkers">
                    <span data-bind="text:$data.name,css:{isExisted:$data.isExisted}"></span>
                </label>
        </div>
        <!-- /ko -->
    </div>
    <div class="text-center center" >
        <!-- ko template:{name:'aqua-button',data:{text:'Finish',click:Department.doImport,type:'success'}} -->
        <!-- /ko -->
    </div>
</script>

<script id="do-import" type="text/html">
    <div class="text-center center" style="width: 100%;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</script>










<script id="department-left-menu-block" type="text/html">
	<li class="sidemenu__categories-item sidemenu__category">
        <h2 class="sidemenu__category-title" >
        	Круги
        	<a class="mdl-button mdl-js-button mdl-button--icon" data-bind="click:Department.addModal" href=""> <i class="material-icons">add</i></a>
        </h2>
        <ul class="sidemenu__category-links" data-bind="foreach:Department.departments()">
           <li>
              <span class="sidemenu__category-link">
              <a class="sidemenu__category-link-item" data-bind="
              	text:$data.Name, 
                click:Department.chooseDepartment,
                css:{'sidemenu__category-link-item--active':Department.choosedDepartmentId()==$data._id()}         	
              " ></a>
                <a class="waves-effect right waves-light mdl-button mdl-js-button mdl-button--icon" data-bind="click:Department.editDepartmentModal"><i class="material-icons ">more_vert</i></a>
              </span>
           </li> 
        </ul>
     </li>

</script>

<script id="department-home-page" type="text/html">
	<!-- ko if:_.isEmpty(Department.departments()) -->
    <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Для начала работы создайте подразделение.</p>
        </div>
        <div class="card-action">
          <!-- ko template:{name:'aqua-button',data:{text:'Add',click:Department.addModal,type:'info'}} -->
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
	<!-- /ko -->
</script>



<div class="modal modal-fixed-footer modal-small-50-75" id="add_edit_department_modal" data-bind='modalBinding:{onCloseStart:Department.load}'>
   <!-- ko template:{
        name:'modal-model-edit-form',
        data:{
            model: Department.currentDepartment,
            editFields:["Name"],
            remove:Department.removeDepartmentAction,
            update:Department.updateDepartment
        }    
   } --><!-- /ko -->
</div>