<script id="group-left-menu-block" type="text/html">
	<li class="sidemenu__categories-item sidemenu__category" >
        <h2 class="sidemenu__category-title" >
        	Группы
        	<a class="mdl-button mdl-js-button mdl-button--icon" data-bind="click:Group.addModal" href=""> <i class="material-icons">add</i></a>
        </h2>
        <ul class="sidemenu__category-links" data-bind="foreach:Group.groups()">
           <li>
              <span class="sidemenu__category-link">
              <a class="sidemenu__category-link-item" data-bind="
              	text:$data.Name,                
                click:Group.chooseGroup,
                css:{'sidemenu__category-link-item--active':Group.choosedGroupId()==$data._id()}  
              " ></a>
                <a class="waves-effect right waves-light mdl-button mdl-js-button mdl-button--icon" data-bind="click:Group.editGroupModal"><i class="material-icons ">more_vert</i></a>
              </span>
           </li> 
        </ul>
     </li>

</script>

<div class="modal modal-fixed-footer modal-small-50-75" id="add_edit_group_modal" data-bind='modalBinding:{onCloseStart:Group.load}'>
   <!-- ko template:{
        name:'modal-model-edit-form',
        data:{
            model: Group.currentGroup,
            editFields:["Name","Color"],
            remove:Group.removeGroupAction,
            update:Group.updateGroup
        }    
   } --><!-- /ko -->
</div>